* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.productCard {
    width: 60vw;
    padding: min(15px, 1vw);
    border: #CECECE 1px solid;
    border-radius: min(15px, 1vw);
    display: grid;
    grid-template-columns: 25% 20% 30% 20% 5%;
    grid-template-rows: 18% 18% 50% 14%;
    grid-template-areas: 
        "picture title title price price"
        "picture subtitle subtitle subtitle subtitle"
        "picture description description description description"
        "picture qualification none none cart";
    font-family: 'Sriracha', cursive;
}

.productPicture {
    width: 100%;
    /* padding-right: 1vw; */
    grid-area: picture;
    border-radius: min(15px, 1vw);
} 

.productTitle {
    align-self: center;
    padding-left: 1vw;
    grid-area: title;
    font-size: 1.75vw;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
}
.productSubtitle {
    align-self: center;
    padding-left: 1vw;
    grid-area: subtitle;
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 1;
    overflow: hidden;
}
.productPrice {
    align-self: center;
    padding-left: 1vw;
    text-align: right;
    align-self: center;
    grid-area: price;
    font-size: 1.75vw;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
}
.productDescription {
    align-self: center;
    padding-left: 1vw;
    grid-area: description;
    font-size: 1.25vw;
    line-height: 1;
    text-align: justify;
    overflow: hidden;
}

.icon {
    width: 2vw;
}

.productQualification {
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: qualification;
    
}

.addToCart {
    grid-area: cart;
    height: 100%;
    justify-self: flex-end;
}

@media screen and (max-width: 768px) {
    
    .productCard {
        width: 45vw;
        padding: 2vw;
        /* margin: 0 auto; */
        grid-template-columns: 80% 20%;
        grid-template-rows: 74% 10% 8% 8%;
        grid-template-areas: 
            "picture picture"
            "title title"
            "price price"
            "qualification cart";
    }

    .productPicture {
        padding-bottom: 2vw;
    }

    .productTitle {
        font-size: 3.2vw;
        text-align: center;
    } 
    
    .productPrice {
        font-size: 2.75vw;
        text-align: center;
    }

    .productSubtitle {
        display: none;
    }

    .productDescription {
        display: none;
    }
    
    .icon {
        width: 4vw;
    }
}