<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sriracha&display=swap" rel="stylesheet">
<!-- Cascade Style Sheet -->
    <link rel="stylesheet" href="products.css">
    <title>Test product</title>
</head>
<body>
    <section class="productCard">
        <img class="productPicture" src="../../assets/img/Products/Product_1.jpg" alt="product1Picture">
        <div class="productTitle">
            <h3>Nombre del producto 1</h3>
        </div>
        <div class="productSubtitle">
            <h4>Descripción breve del producto</h4>
        </div>
        <div class="productPrice">
            <p>COP$ 999.999</p>
        </div>
        <div class="productDescription">
            <p>Descripción completa del producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sint asperiores aliquam, quae iusto praesentium inventore optio quisquam omnis nesciunt esse eius eligendi ab. Libero laboriosam sed ipsa vitae quisquam?</p>
        </div>
        <div class="productQualification">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 1 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 2 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 3 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 4 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 5 star" class="icon">
        </div>
        <img class="addToCart" src="../../assets/img/Font Awesome/cart-plus-solid.svg" alt="Add to cart product">
    </section>
    <section class="productCard">
        <img class="productPicture" src="../../assets/img/Products/Product_2.jpg" alt="product2Picture">
        <div class="productTitle">
            <h3>Nombre del producto 2</h3>
        </div>
        <div class="productSubtitle">
            <h4>Descripción breve del producto</h4>
        </div>
        <div class="productPrice">
            <p>COP$ 999.999</p>
        </div>
        <div class="productDescription">
            <p>Descripción completa del producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sint asperiores aliquam, quae iusto praesentium inventore optio quisquam omnis nesciunt esse eius eligendi ab. Libero laboriosam sed ipsa vitae quisquam?</p>
        </div>
        <div class="productQualification">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 1 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 2 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 3 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 4 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 5 star" class="icon">
        </div>
        <img class="addToCart" src="../../assets/img/Font Awesome/cart-plus-solid.svg" alt="Add to cart product">
    </section>
    <section class="productCard">
        <img class="productPicture" src="../../assets/img/Products/Product_3.jpg" alt="product3Picture">
        <div class="productTitle">
            <h3>Nombre del producto 3</h3>
        </div>
        <div class="productSubtitle">
            <h4>Descripción breve del producto</h4>
        </div>
        <div class="productPrice">
            <p>COP$ 999.999</p>
        </div>
        <div class="productDescription">
            <p>Descripción completa del producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sint asperiores aliquam, quae iusto praesentium inventore optio quisquam omnis nesciunt esse eius eligendi ab. Libero laboriosam sed ipsa vitae quisquam?</p>
        </div>
        <div class="productQualification">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 1 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 2 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 3 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 4 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 5 star" class="icon">
        </div>
        <img class="addToCart" src="../../assets/img/Font Awesome/cart-plus-solid.svg" alt="Add to cart product">
    </section>
    <section class="productCard">
        <img class="productPicture" src="../../assets/img/Products/Product_4.jpg" alt="product4Picture">
        <div class="productTitle">
            <h3>Nombre del producto 4</h3>
        </div>
        <div class="productSubtitle">
            <h4>Descripción breve del producto</h4>
        </div>
        <div class="productPrice">
            <p>COP$ 999.999</p>
        </div>
        <div class="productDescription">
            <p>Descripción completa del producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sint asperiores aliquam, quae iusto praesentium inventore optio quisquam omnis nesciunt esse eius eligendi ab. Libero laboriosam sed ipsa vitae quisquam?</p>
        </div>
        <div class="productQualification">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 1 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 2 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 3 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 4 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 5 star" class="icon">
        </div>
        <img class="addToCart" src="../../assets/img/Font Awesome/cart-plus-solid.svg" alt="Add to cart product">
    </section>
    <section class="productCard">
        <img class="productPicture" src="../../assets/img/Products/Product_5.jfif" alt="product5Picture">
        <div class="productTitle">
            <h3>Nombre del producto 5</h3>
        </div>
        <div class="productSubtitle">
            <h4>Descripción breve del producto</h4>
        </div>
        <div class="productPrice">
            <p>COP$ 999.999</p>
        </div>
        <div class="productDescription">
            <p>Descripción completa del producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sint asperiores aliquam, quae iusto praesentium inventore optio quisquam omnis nesciunt esse eius eligendi ab. Libero laboriosam sed ipsa vitae quisquam?</p>
        </div>
        <div class="productQualification">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 1 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 2 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 3 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 4 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 5 star" class="icon">
        </div>
        <img class="addToCart" src="../../assets/img/Font Awesome/cart-plus-solid.svg" alt="Add to cart product">
    </section>
    <section class="productCard">
        <img class="productPicture" src="../../assets/img/Products/Product_6.jfif" alt="product6Picture">
        <div class="productTitle">
            <h3>Nombre del producto 6</h3>
        </div>
        <div class="productSubtitle">
            <h4>Descripción breve del producto</h4>
        </div>
        <div class="productPrice">
            <p>COP$ 999.999</p>
        </div>
        <div class="productDescription">
            <p>Descripción completa del producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sint asperiores aliquam, quae iusto praesentium inventore optio quisquam omnis nesciunt esse eius eligendi ab. Libero laboriosam sed ipsa vitae quisquam?</p>
        </div>
        <div class="productQualification">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 1 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 2 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 3 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 4 star" class="icon">
            <img src="../../assets/img/Font Awesome/star-solid.svg" alt="Product 5 star" class="icon">
        </div>
        <img class="addToCart" src="../../assets/img/Font Awesome/cart-plus-solid.svg" alt="Add to cart product">
    </section>
</body>
</html>