<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">´
<!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sriracha&display=swap" rel="stylesheet">
<!-- Cascade Style Sheet -->
<link rel="stylesheet" href="videos.css">
    <title>Video card test</title>  
</head>
<body>
    <div class="videoCard">
        <iframe class="vidClip" src="https://www.youtube.com/embed/9UMxZofMNbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="vidTitle">Título del video</h3>
        <h4 class="vidSubtitle">Subtítulo del video</h4>
        <p class="vidDescription">Descripción del video - Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus eos placeat aliquam. Illum expedita consequuntur, magnam quis necessitatibus doloribus ratione ducimus illo quaerat temporibus odio, sint culpa dolorum iure?</p>
        <input class="moreAbout" type="button" value="Conoce más">
    </div>
    
    <div class="videoCard">
        <iframe class="vidClip" src="https://www.youtube.com/embed/9UMxZofMNbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="vidTitle">Título del video</h3>
        <h4 class="vidSubtitle">Subtítulo del video</h4>
        <p class="vidDescription">Descripción del video - Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus eos placeat aliquam. Illum expedita consequuntur, magnam quis necessitatibus doloribus ratione ducimus illo quaerat temporibus odio, sint culpa dolorum iure?</p>
        <input class="moreAbout" type="button" value="Conoce más">
    </div>
    <div class="videoCard">
        <iframe class="vidClip" src="https://www.youtube.com/embed/9UMxZofMNbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="vidTitle">Título del video</h3>
        <h4 class="vidSubtitle">Subtítulo del video</h4>
        <p class="vidDescription">Descripción del video - Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus eos placeat aliquam. Illum expedita consequuntur, magnam quis necessitatibus doloribus ratione ducimus illo quaerat temporibus odio, sint culpa dolorum iure?</p>
        <input class="moreAbout" type="button" value="Conoce más">
    </div>
</body>
</html>