* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sriracha', cursive;
}

.services {
    width: min(90%, 88rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1.5vw; */
    justify-content: space-between;
}

.serviceCard {
    padding: 1vw;
    margin: 0 auto;
    width: min(28vw, 27rem);
    text-align: center;
    display: inline-block;
    border: #000 solid 1px;
    border-radius: min(1.6vw, 20px);
}

    img {
        width: min(100%, 500px);
        border-radius: 1vw;
    }

    .serviceCard h3 {
        font-size: min(3vw, 3rem);
        line-height: 1;
    }

    .serviceCard p {
        font-size: min(1.5vw, 1.5rem);
        line-height: 1;
    }

@media screen and (max-width: 768px) {
    .services {
        width: 70vw;
    }

    .serviceCard {
        padding: 3vw;
        width: 70vw;
    }            

    .serviceCard h3 {
        font-size: 7.5vw;
    }

    .serviceCard p {
        font-size: 4vw;
    }
    
}